@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;&display=swap');

html,
body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #1f2937;

  /* Hide scroll bar */
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
  position: relative;
}

/* Hide scroll bar */
/* body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
} */
textarea::placeholder {
  color: #9ca3af;
}

/* Prevent scroll when modal is open on ios */
body.modal-open {
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
  touch-action: none;
  -ms-touch-action: none;
}

.touch-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
